
.film {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid lightgray;
  position: relative;

  &__delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    border: 0;
    background-color: transparent;
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
  }
}